**/*pyc
**/*__pycache__
db.sqlite3
.DS_Store
.idea
client_secret.json
google_service_account_creds.json
creds/iq_credentials.txt
.vscode
env/
.env
.venv
.kolo

ai-models/
content_ai.json
celerybeat-schedule.db